<div class="footer">
    <div class="fix-nav-content">
        <a class="logo" href="/about.html"></a>
        <a href="/about.html">关于我</a>
        <div class="search"></div>
        <div class="login"></div>
    </div>

</div>